@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: black;
}

p {
  color: white;
  background-color: red;
  padding: 20px;
  border-radius: 15px;
  margin: 0;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: "Bungee Tint", sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: yellow;
  color: black;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
button:active {
  background-color: orange;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
